version: '3.8'

services:
  # App: Codenames
  # Port 8000 on Host -> 80 in Container
  codenames:
    image: selfpraxis:codenames-${CODENAMES_TAG}
    container_name: selfpraxis-codenames
    restart: always
    ports:
      - "8000:80"
    networks:
      - selfpraxis_net

  # App: Series Bible
  # Port 8001 on Host -> 80 in Container
  series-bible:
    image: selfpraxis:series-bible-${SERIES_BIBLE_TAG}
    container_name: selfpraxis-series-bible
    restart: always
    ports:
      - "8001:80"
    networks:
      - selfpraxis_net

networks:
  selfpraxis_net:
    driver: bridge
